:root { 
    --primary-main: #BB86FC; 
    --primary-dark: #3700B3; 
    --primary-light: #DFB8FF; 
    
    --bg-primary: #121212; 
    --bg-secondary: #1E1E1E; 
    
    --text-primary: #FFFFFF; 
    --text-secondary: #B3B3B3; 
    --text-light: #E0E0E0; 
    
    --border-color: #333333; 

    --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.5); 
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.4); 
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
